name = "x402-partners"
main = "src/index.ts"
compatibility_date = "2024-01-01"
workers_dev = true

[[d1_databases]]
binding = "DB"
database_name = "x402-partners-db"
database_id = "41e7cfc5-f243-4fd5-8bbe-c3499173d3d9"
